# Creating Schema and Load Data
## From Graph+AI World 2020 Conference
This notebook contains the creation of schema and  for the Graph+AI World session From Dataframes to Graph: Data Science with pyTigerGraph by Parker Erickson.

In [1]:
import pandas as pd 
import pyTigerGraph as tg

# Loading DataFrames
This dataset is a subset of the [FMA](https://github.com/mdeff/fma) dataset.

In [2]:
albums = pd.read_csv("data/albumData.tsv", sep="\t")
artists = pd.read_csv("data/artistData.tsv", sep="\t")
features = pd.read_csv("data/featureData.tsv", sep="\t")
genres = pd.read_csv("data/genreData.tsv", sep="\t")
tracks = pd.read_csv("data/trackData.tsv", sep="\t")

# Create connection to TigerGraph Cloud instance

In [3]:
conn = tg.TigerGraphConnection("https://musicgraph.i.tgcloud.io", version="3.0.5")

In [4]:
print(conn.gsql("DROP ALL", options=[]))

Downloading gsql client Jar
Downloading SSL Certificate
========================
Trying version: v3_0_5
Connecting to musicgraph.i.tgcloud.io:14240
WARNING: sun.reflect.Reflection.getCallerClass is not supported. This will impact performance.
If there is any relative path, it is relative to <System.AppRoot>/dev/gdk/gsql
Dropping all, about 1 minute ...
Abort all active loading jobs
Try to abort all loading jobs on graph musicGraph, it may take a while ...
[ABORT_SUCCESS] No active Loading Job to abort.
Resetting GPE...
Successfully reset GPE
Stopping GPE GSE
Successfully stopped GPE GSE in 5.011 seconds
Clearing graph store...
Successfully cleared graph store
Everything is dropped.

# Create Vertices

In [5]:
albums.head()

,track_id,comments,date_created,date_released,engineer,favorites,id,information,listens,producer,tags,title,tracks,type
0,2,0,2008-11-26 01:44:45,2009-01-05 00:00:00,NaN,4,1,<p></p>,6073,NaN,[],AWOL - A Way Of Life,7,Album
1,3,0,2008-11-26 01:44:45,2009-01-05 00:00:00,NaN,4,1,<p></p>,6073,NaN,[],AWOL - A Way Of Life,7,Album
2,5,0,2008-11-26 01:44:45,2009-01-05 00:00:00,NaN,4,1,<p></p>,6073,NaN,[],AWOL - A Way Of Life,7,Album
3,10,0,2008-11-26 01:45:08,2008-02-06 00:00:00,NaN,4,6,NaN,47632,NaN,[],Constant Hitmaker,2,Album
4,20,0,2008-11-26 01:45:05,2009-01-06 00:00:00,NaN,2,4,"<p> ""spiritual songs"" from Nicky Cook</p>",2710,NaN,[],Niris,13,Album

In [6]:
print(conn.gsql('''CREATE VERTEX Album (PRIMARY_ID Id STRING, Title STRING, Tracks INT, Listens INT, Information STRING, 
                    Embedding LIST<DOUBLE>) WITH primary_id_as_attribute="true"
                ''', options=[]))

========================
Trying version: v3_0_5
Connecting to musicgraph.i.tgcloud.io:14240
WARNING: sun.reflect.Reflection.getCallerClass is not supported. This will impact performance.
If there is any relative path, it is relative to <System.AppRoot>/dev/gdk/gsql
The vertex type Album is created.

In [7]:
artists.head()

,track_id,active_year_begin,active_year_end,associated_labels,bio,comments,date_created,favorites,id,latitude,location,longitude,members,name,related_projects,tags,website,wikipedia_page
0,2,2006-01-01 00:00:00,NaN,NaN,"<p>A Way Of Life, A Collective of Hip-Hop from...",0,2008-11-26 01:42:32,9,1,40.058324,New Jersey,-74.405661,"Sajje Morocco,Brownbum,ZawidaGod,Custodian of ...",AWOL,The list of past projects is 2 long but every1...,['awol'],http://www.AzillionRecords.blogspot.com,NaN
1,3,2006-01-01 00:00:00,NaN,NaN,"<p>A Way Of Life, A Collective of Hip-Hop from...",0,2008-11-26 01:42:32,9,1,40.058324,New Jersey,-74.405661,"Sajje Morocco,Brownbum,ZawidaGod,Custodian of ...",AWOL,The list of past projects is 2 long but every1...,['awol'],http://www.AzillionRecords.blogspot.com,NaN
2,5,2006-01-01 00:00:00,NaN,NaN,"<p>A Way Of Life, A Collective of Hip-Hop from...",0,2008-11-26 01:42:32,9,1,40.058324,New Jersey,-74.405661,"Sajje Morocco,Brownbum,ZawidaGod,Custodian of ...",AWOL,The list of past projects is 2 long but every1...,['awol'],http://www.AzillionRecords.blogspot.com,NaN
3,10,NaN,NaN,"Mexican Summer, Richie Records, Woodsist, Skul...","<p><span style=""font-family:Verdana, Geneva, A...",3,2008-11-26 01:42:55,74,6,NaN,NaN,NaN,"Kurt Vile, the Violators",Kurt Vile,NaN,"['philly', 'kurt vile']",http://kurtvile.com,NaN
4,20,1990-01-01 00:00:00,2011-01-01 00:00:00,NaN,<p>Songs written by: Nicky Cook</p>\n<p>VOCALS...,2,2008-11-26 01:42:52,10,4,51.895927,Colchester England,0.891874,Nicky Cook\n,Nicky Cook,NaN,"['instrumentals', 'experimental pop', 'post pu...",NaN,NaN

In [8]:
print(conn.gsql('''CREATE VERTEX Artist (PRIMARY_ID Id STRING, Name STRING, Members STRING, Bio STRING, Embedding LIST<DOUBLE>) WITH primary_id_as_attribute="true"''', options=[]))

print(conn.gsql('''CREATE VERTEX Tag (PRIMARY_ID Id STRING, Embedding LIST<DOUBLE>) WITH primary_id_as_attribute="true"''', options=[]))

========================
Trying version: v3_0_5
Connecting to musicgraph.i.tgcloud.io:14240
WARNING: sun.reflect.Reflection.getCallerClass is not supported. This will impact performance.
If there is any relative path, it is relative to <System.AppRoot>/dev/gdk/gsql
The vertex type Artist is created.

========================
Trying version: v3_0_5
Connecting to musicgraph.i.tgcloud.io:14240
WARNING: sun.reflect.Reflection.getCallerClass is not supported. This will impact performance.
If there is any relative path, it is relative to <System.AppRoot>/dev/gdk/gsql
The vertex type Tag is created.

In [9]:
print(conn.gsql('''CREATE VERTEX Location (PRIMARY_ID Loc STRING, Latitude DOUBLE, Longitude DOUBLE, Embedding LIST<DOUBLE>) WITH primary_id_as_attribute="true"''', options=[]))

========================
Trying version: v3_0_5
Connecting to musicgraph.i.tgcloud.io:14240
WARNING: sun.reflect.Reflection.getCallerClass is not supported. This will impact performance.
If there is any relative path, it is relative to <System.AppRoot>/dev/gdk/gsql
The vertex type Location is created.

In [10]:
genres.head()

   genre_id  #tracks  parent          title  top_level
0         1     8693      38    Avant-Garde         38
1         2     5271       0  International          2
2         3     1752       0          Blues          3
3         4     4126       0           Jazz          4
4         5     4106       0      Classical          5

In [11]:
print(conn.gsql('''CREATE VERTEX Genre (PRIMARY_ID Id STRING, Title STRING, NumTracks INT, Embedding LIST<DOUBLE>) WITH primary_id_as_attribute="true"''', options=[]))

========================
Trying version: v3_0_5
Connecting to musicgraph.i.tgcloud.io:14240
WARNING: sun.reflect.Reflection.getCallerClass is not supported. This will impact performance.
If there is any relative path, it is relative to <System.AppRoot>/dev/gdk/gsql
The vertex type Genre is created.

In [12]:
tracks.head()

,track_id,bit_rate,comments,composer,date_created,date_recorded,duration,favorites,genre_top,genres,...,information,interest,language_code,license,listens,lyricist,number,publisher,tags,title
0,2,256000,0,NaN,2008-11-26 01:48:12,2008-11-26 00:00:00,168,2,Hip-Hop,[21],...,NaN,4656,en,Attribution-NonCommercial-ShareAlike 3.0 Inter...,1293,NaN,3,NaN,[],Food
1,3,256000,0,NaN,2008-11-26 01:48:14,2008-11-26 00:00:00,237,1,Hip-Hop,[21],...,NaN,1470,en,Attribution-NonCommercial-ShareAlike 3.0 Inter...,514,NaN,4,NaN,[],Electric Ave
2,5,256000,0,NaN,2008-11-26 01:48:20,2008-11-26 00:00:00,206,6,Hip-Hop,[21],...,NaN,1933,en,Attribution-NonCommercial-ShareAlike 3.0 Inter...,1151,NaN,6,NaN,[],This World
3,10,192000,0,Kurt Vile,2008-11-25 17:49:06,2008-11-26 00:00:00,161,178,Pop,[10],...,NaN,54881,en,Attribution-NonCommercial-NoDerivatives (aka M...,50135,NaN,1,NaN,[],Freeway
4,20,256000,0,NaN,2008-11-26 01:48:56,2008-01-01 00:00:00,311,0,NaN,"[76, 103]",...,NaN,978,en,Attribution-NonCommercial-NoDerivatives (aka M...,361,NaN,3,NaN,[],Spiritual Level

# Add Features to Tracks

In [13]:
features.head()

,feature,chroma_cens,chroma_cens.1,chroma_cens.2,chroma_cens.3,chroma_cens.4,chroma_cens.5,chroma_cens.6,chroma_cens.7,chroma_cens.8,...,Unnamed: 1026,Unnamed: 1027,Unnamed: 1028,Unnamed: 1029,Unnamed: 1030,Unnamed: 1031,Unnamed: 1032,Unnamed: 1033,Unnamed: 1034,Unnamed: 1035
0,2,7.180653,5.230309,0.249321,1.347620,1.482478,0.531371,1.481593,2.691455,0.866868,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3,1.888963,0.760539,0.345297,2.295201,1.654031,0.067592,1.366848,1.054094,0.108103,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5,0.527563,-0.077654,-0.279610,0.685883,1.937570,0.880839,-0.923192,-0.927232,0.666617,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10,3.702245,-0.291193,2.196742,-0.234449,1.367364,0.998411,1.770694,1.604566,0.521217,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,20,-0.193837,-0.198527,0.201546,0.258556,0.775204,0.084794,-0.289294,-0.816410,0.043851,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
cens = ["feature"] + [col for col in features if col.startswith('chroma_cens')] 
cens = features[cens]
cens["vector"] = cens[[col for col in cens if col.startswith('chroma_cens')]].values.tolist()
cens.drop([col for col in cens if col.startswith('chroma_cens')], axis=1, inplace=True)

In [15]:
cens.head()

   feature                                             vector
0        2  [7.1806526184, 5.2303090096, 0.24932080507, 1....
1        3  [1.8889633417, 0.7605392932899999, 0.345296561...
2        5  [0.52756297588, -0.07765431702100001, -0.27961...
3       10  [3.7022454739, -0.29119303823000003, 2.1967420...
4       20  [-0.19383698702, -0.19852678478, 0.20154602826...

In [16]:
tracks = tracks.merge(cens, left_on="track_id", right_on="feature")

In [17]:
tracks.head()

,track_id,bit_rate,comments,composer,date_created,date_recorded,duration,favorites,genre_top,genres,...,language_code,license,listens,lyricist,number,publisher,tags,title,feature,vector
0,2,256000,0,NaN,2008-11-26 01:48:12,2008-11-26 00:00:00,168,2,Hip-Hop,[21],...,en,Attribution-NonCommercial-ShareAlike 3.0 Inter...,1293,NaN,3,NaN,[],Food,2,"[7.1806526184, 5.2303090096, 0.24932080507, 1...."
1,3,256000,0,NaN,2008-11-26 01:48:14,2008-11-26 00:00:00,237,1,Hip-Hop,[21],...,en,Attribution-NonCommercial-ShareAlike 3.0 Inter...,514,NaN,4,NaN,[],Electric Ave,3,"[1.8889633417, 0.7605392932899999, 0.345296561..."
2,5,256000,0,NaN,2008-11-26 01:48:20,2008-11-26 00:00:00,206,6,Hip-Hop,[21],...,en,Attribution-NonCommercial-ShareAlike 3.0 Inter...,1151,NaN,6,NaN,[],This World,5,"[0.52756297588, -0.07765431702100001, -0.27961..."
3,10,192000,0,Kurt Vile,2008-11-25 17:49:06,2008-11-26 00:00:00,161,178,Pop,[10],...,en,Attribution-NonCommercial-NoDerivatives (aka M...,50135,NaN,1,NaN,[],Freeway,10,"[3.7022454739, -0.29119303823000003, 2.1967420..."
4,20,256000,0,NaN,2008-11-26 01:48:56,2008-01-01 00:00:00,311,0,NaN,"[76, 103]",...,en,Attribution-NonCommercial-NoDerivatives (aka M...,361,NaN,3,NaN,[],Spiritual Level,20,"[-0.19383698702, -0.19852678478, 0.20154602826..."

In [18]:
print(conn.gsql('''
                CREATE VERTEX Track (PRIMARY_ID Id STRING, Title String, DateRecorded DATETIME, Duration INT, Features LIST<DOUBLE>, Embedding LIST<DOUBLE>)
                ''', options=[]))

========================
Trying version: v3_0_5
Connecting to musicgraph.i.tgcloud.io:14240
WARNING: sun.reflect.Reflection.getCallerClass is not supported. This will impact performance.
If there is any relative path, it is relative to <System.AppRoot>/dev/gdk/gsql
The vertex type Track is created.

# Create Edges

In [19]:
print(conn.gsql('CREATE DIRECTED EDGE trackInAlbum (FROM Track, TO Album) WITH REVERSE_EDGE="albumHasTrack"', options=[]))
print(conn.gsql('CREATE DIRECTED EDGE artistPerformedTrack (FROM Artist, TO Track) WITH REVERSE_EDGE="trackPerformedByArtist"', options=[]))
print(conn.gsql('CREATE DIRECTED EDGE trackInGenre (FROM Track, TO Genre) WITH REVERSE_EDGE="genreContainsTrack"', options=[]))
print(conn.gsql('CREATE DIRECTED EDGE artistHasTag (FROM Artist, TO Tag) WITH REVERSE_EDGE="tagDescribesArtist"', options=[]))
print(conn.gsql('CREATE DIRECTED EDGE artistFromLocation (FROM Artist, TO Location) WITH REVERSE_EDGE="locationHasArtist"', options=[]))

print(conn.gsql('CREATE DIRECTED EDGE childGenre (FROM Genre, TO Genre) WITH REVERSE_EDGE="parentGenre"', options=[]))

========================
Trying version: v3_0_5
Connecting to musicgraph.i.tgcloud.io:14240
WARNING: sun.reflect.Reflection.getCallerClass is not supported. This will impact performance.
If there is any relative path, it is relative to <System.AppRoot>/dev/gdk/gsql
The edge type trackInAlbum is created.
The reverse edge type albumHasTrack is created.

========================
Trying version: v3_0_5
Connecting to musicgraph.i.tgcloud.io:14240
WARNING: sun.reflect.Reflection.getCallerClass is not supported. This will impact performance.
If there is any relative path, it is relative to <System.AppRoot>/dev/gdk/gsql
The edge type artistPerformedTrack is created.
The reverse edge type trackPerformedByArtist is created.

========================
Trying version: v3_0_5
Connecting to musicgraph.i.tgcloud.io:14240
WARNING: sun.reflect.Reflection.getCallerClass is not supported. This will impact performance.
If there is any relative path, it is relative to <System.AppRoot>/dev/gdk/gsql
The edge type trackInGenre is created.
The reverse edge type genreContainsTrack is created.

========================
Trying version: v3_0_5
Connecting to musicgraph.i.tgcloud.io:14240
WARNING: sun.reflect.Reflection.getCallerClass is not supported. This will impact performance.
If there is any relative path, it is relative to <System.AppRoot>/dev/gdk/gsql
The edge type artistHasTag is created.
The reverse edge type tagDescribesArtist is created.

========================
Trying version: v3_0_5
Connecting to musicgraph.i.tgcloud.io:14240
WARNING: sun.reflect.Reflection.getCallerClass is not supported. This will impact performance.
If there is any relative path, it is relative to <System.AppRoot>/dev/gdk/gsql
The edge type artistFromLocation is created.
The reverse edge type locationHasArtist is created.

========================
Trying version: v3_0_5
Connecting to musicgraph.i.tgcloud.io:14240
WARNING: sun.reflect.Reflection.getCallerClass is not supported. This will impact performance.
If there is any relative path, it is relative to <System.AppRoot>/dev/gdk/gsql
The edge type childGenre is created.
The reverse edge type parentGenre is created.

In [20]:
print(conn.gsql('LS', options=[]))

========================
Trying version: v3_0_5
Connecting to musicgraph.i.tgcloud.io:14240
WARNING: sun.reflect.Reflection.getCallerClass is not supported. This will impact performance.
If there is any relative path, it is relative to <System.AppRoot>/dev/gdk/gsql
---- Global vertices, edges, and all graphs
Vertex Types:
  - VERTEX Album(PRIMARY_ID Id STRING, Title STRING, Tracks INT, Listens INT, Information STRING, Embedding LIST<DOUBLE>) WITH STATS="OUTDEGREE_BY_EDGETYPE", PRIMARY_ID_AS_ATTRIBUTE="true"
  - VERTEX Artist(PRIMARY_ID Id STRING, Name STRING, Members STRING, Bio STRING, Embedding LIST<DOUBLE>) WITH STATS="OUTDEGREE_BY_EDGETYPE", PRIMARY_ID_AS_ATTRIBUTE="true"
  - VERTEX Tag(PRIMARY_ID Id STRING, Embedding LIST<DOUBLE>) WITH STATS="OUTDEGREE_BY_EDGETYPE", PRIMARY_ID_AS_ATTRIBUTE="true"
  - VERTEX Location(PRIMARY_ID Loc STRING, Latitude DOUBLE, Longitude DOUBLE, Embedding LIST<DOUBLE>) WITH STATS="OUTDEGREE_BY_EDGETYPE", PRIMARY_ID_AS_ATTRIBUTE="true"
  - VERTEX Genre(PRIMARY_ID Id STRING, Title STRING, NumTracks INT, Embedding LIST<DOUBLE>) WITH STATS="OUTDEGREE_BY_EDGETYPE", PRIMARY_ID_AS_ATTRIBUTE="true"
  - VERTEX Track(PRIMARY_ID Id STRING, Title STRING, DateRecorded DATETIME, Duration INT, Features LIST<DOUBLE>, Embedding LIST<DOUBLE>) WITH STATS="OUTDEGREE_BY_EDGETYPE"
Edge Types:
  - DIRECTED EDGE trackInAlbum(FROM Track, TO Album) WITH REVERSE_EDGE="albumHasTrack"
  - DIRECTED EDGE albumHasTrack(FROM Album, TO Track) WITH REVERSE_EDGE="trackInAlbum"
  - DIRECTED EDGE artistPerformedTrack(FROM Artist, TO Track) WITH REVERSE_EDGE="trackPerformedByArtist"
  - DIRECTED EDGE trackPerformedByArtist(FROM Track, TO Artist) WITH REVERSE_EDGE="artistPerformedTrack"
  - DIRECTED EDGE trackInGenre(FROM Track, TO Genre) WITH REVERSE_EDGE="genreContainsTrack"
  - DIRECTED EDGE genreContainsTrack(FROM Genre, TO Track) WITH REVERSE_EDGE="trackInGenre"
  - DIRECTED EDGE artistHasTag(FROM Artist, TO Tag) WITH REVERSE_EDGE="tagDescribesArtist"
  - DIRECTED EDGE tagDescribesArtist(FROM Tag, TO Artist) WITH REVERSE_EDGE="artistHasTag"
  - DIRECTED EDGE artistFromLocation(FROM Artist, TO Location) WITH REVERSE_EDGE="locationHasArtist"
  - DIRECTED EDGE locationHasArtist(FROM Location, TO Artist) WITH REVERSE_EDGE="artistFromLocation"
  - DIRECTED EDGE childGenre(FROM Genre, TO Genre) WITH REVERSE_EDGE="parentGenre"
  - DIRECTED EDGE parentGenre(FROM Genre, TO Genre) WITH REVERSE_EDGE="childGenre"

Graphs:
Jobs:


JSON API version: v2
Syntax version: v1

# Create Graph

In [21]:
print(conn.gsql('''CREATE GRAPH musicGraph(Album, Artist, Tag, Location, Genre, Track, trackInAlbum, albumHasTrack, trackInGenre, genreContainsTrack, artistHasTag, tagDescribesArtist, artistFromLocation, locationHasArtist, childGenre, parentGenre, artistPerformedTrack, trackPerformedByArtist)''', options=[]))

========================
Trying version: v3_0_5
Connecting to musicgraph.i.tgcloud.io:14240
WARNING: sun.reflect.Reflection.getCallerClass is not supported. This will impact performance.
If there is any relative path, it is relative to <System.AppRoot>/dev/gdk/gsql
Stopping GPE GSE RESTPP
Successfully stopped GPE GSE RESTPP in 0.006 seconds
Starting GPE GSE RESTPP
Successfully started GPE GSE RESTPP in 0.255 seconds
The graph musicGraph is created.

# Load Data

In [22]:
conn.graphname = "musicGraph"
conn.apiToken = conn.getToken(conn.createSecret())

In [23]:
albums.head()

,track_id,comments,date_created,date_released,engineer,favorites,id,information,listens,producer,tags,title,tracks,type
0,2,0,2008-11-26 01:44:45,2009-01-05 00:00:00,NaN,4,1,<p></p>,6073,NaN,[],AWOL - A Way Of Life,7,Album
1,3,0,2008-11-26 01:44:45,2009-01-05 00:00:00,NaN,4,1,<p></p>,6073,NaN,[],AWOL - A Way Of Life,7,Album
2,5,0,2008-11-26 01:44:45,2009-01-05 00:00:00,NaN,4,1,<p></p>,6073,NaN,[],AWOL - A Way Of Life,7,Album
3,10,0,2008-11-26 01:45:08,2008-02-06 00:00:00,NaN,4,6,NaN,47632,NaN,[],Constant Hitmaker,2,Album
4,20,0,2008-11-26 01:45:05,2009-01-06 00:00:00,NaN,2,4,"<p> ""spiritual songs"" from Nicky Cook</p>",2710,NaN,[],Niris,13,Album

In [24]:
albums.fillna("", inplace=True)

In [25]:
conn.upsertVertexDataFrame(albums, "Album", "id", attributes={"Title": "title", "Tracks": "tracks", "Listens": "listens", "Information": "information"})

14854

In [26]:
artists.head()

,track_id,active_year_begin,active_year_end,associated_labels,bio,comments,date_created,favorites,id,latitude,location,longitude,members,name,related_projects,tags,website,wikipedia_page
0,2,2006-01-01 00:00:00,NaN,NaN,"<p>A Way Of Life, A Collective of Hip-Hop from...",0,2008-11-26 01:42:32,9,1,40.058324,New Jersey,-74.405661,"Sajje Morocco,Brownbum,ZawidaGod,Custodian of ...",AWOL,The list of past projects is 2 long but every1...,['awol'],http://www.AzillionRecords.blogspot.com,NaN
1,3,2006-01-01 00:00:00,NaN,NaN,"<p>A Way Of Life, A Collective of Hip-Hop from...",0,2008-11-26 01:42:32,9,1,40.058324,New Jersey,-74.405661,"Sajje Morocco,Brownbum,ZawidaGod,Custodian of ...",AWOL,The list of past projects is 2 long but every1...,['awol'],http://www.AzillionRecords.blogspot.com,NaN
2,5,2006-01-01 00:00:00,NaN,NaN,"<p>A Way Of Life, A Collective of Hip-Hop from...",0,2008-11-26 01:42:32,9,1,40.058324,New Jersey,-74.405661,"Sajje Morocco,Brownbum,ZawidaGod,Custodian of ...",AWOL,The list of past projects is 2 long but every1...,['awol'],http://www.AzillionRecords.blogspot.com,NaN
3,10,NaN,NaN,"Mexican Summer, Richie Records, Woodsist, Skul...","<p><span style=""font-family:Verdana, Geneva, A...",3,2008-11-26 01:42:55,74,6,NaN,NaN,NaN,"Kurt Vile, the Violators",Kurt Vile,NaN,"['philly', 'kurt vile']",http://kurtvile.com,NaN
4,20,1990-01-01 00:00:00,2011-01-01 00:00:00,NaN,<p>Songs written by: Nicky Cook</p>\n<p>VOCALS...,2,2008-11-26 01:42:52,10,4,51.895927,Colchester England,0.891874,Nicky Cook\n,Nicky Cook,NaN,"['instrumentals', 'experimental pop', 'post pu...",NaN,NaN

In [27]:
locations = artists[["id", "location", "longitude", "latitude"]].dropna()

In [28]:
tags = artists[["id", "tags"]]

In [29]:
artists.fillna("", inplace=True)

In [30]:
conn.upsertVertexDataFrame(artists, "Artist", "id", attributes={"Name": "name", "Members": "members", "Bio": "bio"})

16341

In [31]:
locations.head()

   id            location  longitude   latitude
0   1          New Jersey -74.405661  40.058324
1   1          New Jersey -74.405661  40.058324
2   1          New Jersey -74.405661  40.058324
4   4  Colchester England   0.891874  51.895927
5   4  Colchester England   0.891874  51.895927

In [32]:
conn.upsertVertexDataFrame(locations, "Location", "location", {"Latitude":"latitude", "Longitude": "longitude"})

1608

In [33]:
conn.upsertEdgeDataFrame(locations, "Artist", "artistFromLocation", "Location", from_id="id", to_id="location", attributes={})

3826

In [34]:
tags.dropna(inplace=True)

In [35]:
artistTagEdges = []

def createArtistTagEdge(row):
    for tag in row["tags"].strip("[").strip("]").strip("'").split(", "):
        if tag == '':
            continue
        else:
            try:
                artistTagEdges.append((row["id"], tag))
            except:
                pass

In [36]:
tags.apply(lambda x: createArtistTagEdge(x), axis=1)

0         None
1         None
2         None
3         None
4         None
          ...
106569    None
106570    None
106571    None
106572    None
106573    None
Length: 106574, dtype: object

In [37]:
artistTagEdges[:5]

[(1, 'awol'), (1, 'awol'), (1, 'awol'), (6, "philly'"), (6, "'kurt vile")]

In [38]:
tagVertices = [(x, {}) for x in set([x[1] for x in artistTagEdges])]

In [39]:
tagVertices[:5]

[('old bear', {}),
 ("amokdrang'", {}),
 ('higgins', {}),
 ('goat bell', {}),
 ('frank wilson', {})]

In [40]:
conn.upsertVertices("Tag", tagVertices)

18625

In [41]:
conn.upsertEdges("Artist", "artistHasTag", "Tag", artistTagEdges)

22375

In [42]:
genres.head()

   genre_id  #tracks  parent          title  top_level
0         1     8693      38    Avant-Garde         38
1         2     5271       0  International          2
2         3     1752       0          Blues          3
3         4     4126       0           Jazz          4
4         5     4106       0      Classical          5

In [43]:
conn.upsertVertexDataFrame(genres, "Genre", "genre_id", attributes={"Title":"title", "NumTracks":"#tracks"})

conn.upsertEdgeDataFrame(genres, "Genre", "childGenre", "Genre", from_id="genre_id", to_id="parent", attributes={})

163

In [44]:
tracks.head()

,track_id,bit_rate,comments,composer,date_created,date_recorded,duration,favorites,genre_top,genres,...,language_code,license,listens,lyricist,number,publisher,tags,title,feature,vector
0,2,256000,0,NaN,2008-11-26 01:48:12,2008-11-26 00:00:00,168,2,Hip-Hop,[21],...,en,Attribution-NonCommercial-ShareAlike 3.0 Inter...,1293,NaN,3,NaN,[],Food,2,"[7.1806526184, 5.2303090096, 0.24932080507, 1...."
1,3,256000,0,NaN,2008-11-26 01:48:14,2008-11-26 00:00:00,237,1,Hip-Hop,[21],...,en,Attribution-NonCommercial-ShareAlike 3.0 Inter...,514,NaN,4,NaN,[],Electric Ave,3,"[1.8889633417, 0.7605392932899999, 0.345296561..."
2,5,256000,0,NaN,2008-11-26 01:48:20,2008-11-26 00:00:00,206,6,Hip-Hop,[21],...,en,Attribution-NonCommercial-ShareAlike 3.0 Inter...,1151,NaN,6,NaN,[],This World,5,"[0.52756297588, -0.07765431702100001, -0.27961..."
3,10,192000,0,Kurt Vile,2008-11-25 17:49:06,2008-11-26 00:00:00,161,178,Pop,[10],...,en,Attribution-NonCommercial-NoDerivatives (aka M...,50135,NaN,1,NaN,[],Freeway,10,"[3.7022454739, -0.29119303823000003, 2.1967420..."
4,20,256000,0,NaN,2008-11-26 01:48:56,2008-01-01 00:00:00,311,0,NaN,"[76, 103]",...,en,Attribution-NonCommercial-NoDerivatives (aka M...,361,NaN,3,NaN,[],Spiritual Level,20,"[-0.19383698702, -0.19852678478, 0.20154602826..."

In [45]:
tracks["title"].fillna("", inplace=True)

In [46]:
tracks["title"] = tracks["title"].astype(str)

In [47]:
tracks.fillna(0, inplace=True)

In [48]:
conn.upsertVertexDataFrame(tracks, "Track", "track_id", {"Title": "title", "Duration": "duration",  "Features": "vector"})

106574

In [49]:
trackGenreEdges = []

def createTrackGenreEdge(row):
    for genre in row["genres"].strip("[").strip("]").split(", "):
        try:
            trackGenreEdges.append((row["track_id"], int(genre)))
        except:
            pass

In [50]:
tracks.apply(lambda x: createTrackGenreEdge(x), axis=1)
conn.upsertEdges("Track", "trackInGenre", "Genre", trackGenreEdges)

253864

In [51]:
conn.upsertEdgeDataFrame(artists, "Artist", "artistPerformedTrack", "Track", from_id="id", to_id="track_id", attributes={})

106574

In [52]:
conn.upsertEdgeDataFrame(albums, "Track", "trackInAlbum", "Album", from_id="track_id", to_id="id", attributes={})

106574